# Ignore by-products stemming from Github workflows.
.github/*.html

# Ignore local / temporary files.
# Place all temporary files there.
.local

# Ignore files created by transltr itself until we
# provide translations for transltr (using itself).
inst/transltr

# Ignore common R side-files.
.Rprof.out
.Rproj.user
.Rhistory
.RData
.Renviron

# Ignore draw.io backup files.
*.drawio.bkp
