# Ignore by-products stemming from Github workflows.
.github/*.html

# Ignore local / temporary files.
.local
.temp

# Ignore unused or deprecated artifacts.
# These may be kept temporarily for convenience.
.old

# Ignore common R side-files.
.Rproj.user
.Rhistory
.RData
.Renviron
