# Ignore by-products stemming from Github workflows.
.github/*.html

# Ignore local / temporary files.
# Place all temporary files there.
.local

# Ignore common R side-files.
.Rproj.user
.Rhistory
.RData
.Renviron

# Ignore draw.io backup files.
*.drawio.bkp
